@using System.Collections.Generic
@model AllKindergartensViewModel
@{
    var previousDisabled = Model.Paging.CurrentPage == 1 ? "disabled" : "";
    var nextDisabled = Model.Paging.CurrentPage == Model.Paging.TotalPages ? "disabled" : "";
    var kindergartensPresent = Model.Kindergartens.Count() != 0 ? true : false;
}

<h1 class="text-pink text-center">Списък на всички детски градини</h1>

<ol class="breadcrumb justify-content-center">
    <li id="ElementsPerPage" class="customMargin">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuOne" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Да се показват по:</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.CurrentPage, pageSize = 20})">20</a>
                <a class="dropdown-item" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.CurrentPage, pageSize = 50})">50</a>
                <a class="dropdown-item" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.CurrentPage, pageSize = 100})">100</a>
                <a class="dropdown-item" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.CurrentPage, pageSize = 200})">200</a>
            </div>
        </div>
    </li>

    <li id="showByFilter" class="customMargin">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuOne" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Покажи:</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.CurrentPage, pageSize = @Model.Paging.PageSize})">Всички детски градини</a>
                <a class="dropdown-item" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.CurrentPage, pageSize = @Model.Paging.PageSize})">Според населеното място</a>
                <a class="dropdown-item" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.CurrentPage, pageSize = @Model.Paging.PageSize})">Според региона</a>
                <a class="dropdown-item" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.CurrentPage, pageSize = @Model.Paging.PageSize})">Според финансирането</a>
            </div>
        </div>
    </li>
</ol>


<div class="row justify-content-center">
    @foreach (var kindergarten in Model.Kindergartens.Take(@Model.Paging.PageSize))
    {
        <partial name="KindergartenPartial" model="@kindergarten"></partial>
    }
    @if (kindergartensPresent)
    {
        <div>
            <ul class="pagination justify-content-center">
                <li class="page-item col-auto text-center @previousDisabled">
                    <a class="page-link" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.PreviousPage, pageSize = @Model.Paging.PageSize})">Previous Page</a>
                </li>


                <li class="page-item col-auto text-center active">
                    <a class="page-link" href="#">@Model.Paging.CurrentPage</a>
                </li>
                <li class="page-item col-auto text-center @nextDisabled">
                    <a class="page-link" href="@Url.Action("AllKindergartens", "Kindergarten", new {page = @Model.Paging.NextPage, pageSize = @Model.Paging.PageSize})">Next Page</a>
                </li>
            </ul>
        </div>
    }
</div>

