<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

@using EduExplore.Models.Statistics
@using System.Collections.Generic
@model KindergartenStatisticsViewModel

<p id="inhabitedAreasKindergartens" style="display: none;">@string.Join(",", Model.InhabitedAreasNames.ToList())</p>
<p id="inhabitedAreasKindergartensCount" style="display: none;">@string.Join(",", Model.KindergartensCountInInhabitedAreasList.ToList())</p>
<p id="regionsKindergartens" style="display: none;">@string.Join(",", Model.RegionsNames.ToList())</p>
<p id="regionsKindergartensCount" style="display: none;">@string.Join(",", Model.KindergartensCountInRegionsList.ToList())</p>
<p id="financialTypesKindergartens" style="display: none;">@string.Join(",", Model.FinancialTypesNames.ToList())</p>
<p id="financialTypesKindergartensCount" style="display: none;">@string.Join(",", Model.KindergartensCountOfFinancialTypesList.ToList())</p>

<div class="justify-content-center">
    <h2 class="text-pink text-center">Общ брой детски градини в област София: @Model.AllKindergartensCount</h2>
    <h3 class="text-pink text-center">@Model.KindergartensCountInSofiaCity в град София и @Model.KindergartensCountOutsideSofiaCity в останалите населени места</h3>
    <div id="firstCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <canvas id="kindergartensInInhabitedAreasFirstChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <canvas id="kindergartensInInhabitedAreasSecondChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <canvas id="kindergartensInInhabitedAreasThirdChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#firstCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#firstCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="secondCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <canvas id="kindergartensInRegionsFirstChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <canvas id="kindergartensInRegionsSecondChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <canvas id="kindergartensInRegionsThirdChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#secondCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#secondCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="thidCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <canvas id="kindergartensOfFinancialTypeFirstChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <canvas id="kindergartensOfFinancialTypeSecondChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <canvas id="kindergartensOfFinancialTypeThirdChart" style="width:100%;max-width:800px"></canvas>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#thidCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#thidCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<script>
    var chartTypeArr = ['pie', 'doughnut', 'bar']
    var chartsId = ['kindergartensInInhabitedAreasFirstChart', 'kindergartensInInhabitedAreasSecondChart', 'kindergartensInInhabitedAreasThirdChart']
    var secondChartsId = ['kindergartensInRegionsFirstChart', 'kindergartensInRegionsSecondChart', 'kindergartensInRegionsThirdChart']
    var thirdChartsId = ['kindergartensOfFinancialTypeFirstChart', 'kindergartensOfFinancialTypeSecondChart', 'kindergartensOfFinancialTypeThirdChart']

    var titles = ['Детски градини по населени места', 'Детски градини по региони', 'Детски градини според вида на финансиране']

    var xValues = (document.getElementById('inhabitedAreasKindergartens').textContent).split(',');
    var yValues = (document.getElementById('inhabitedAreasKindergartensCount').textContent).split(',');

    var xValuesSecond = (document.getElementById('regionsKindergartens').textContent).split(',');
    var yValuesSecond = (document.getElementById('regionsKindergartensCount').textContent).split(',');

    var xValuesThird = (document.getElementById('financialTypesKindergartens').textContent).split(',');
    var yValuesThird = (document.getElementById('financialTypesKindergartensCount').textContent).split(',');

    var firstColors = ['#13010c', '#270218', '#3a0324', '#4d0430', '#60063c', '#740748', '#870854', '#9a0960', '#ae0a6c', '#c10b78', '#d40c84', '#e70d90', '#f00e96', '#f32ba3', '#f43eab', '#f551b4', '#f665bc', '#f778c4', '#f88bcd', '#f99fd5', '#fbb2dd']

    var secondColors = ['#100311', '#200623', '#300934', '#400c45', '#500f57', '#5f1268', '#6f1579', '#7f188b', '#8f1c9c', '#9f1fad', '#af22bf', '#bf25d0', '#c92fda', '#ce40dd', '#d252e0', '#d763e3', '#db74e7', '#e086ea', '#e497ed', '#e9a8f0', '#edbaf3', '#f2cbf6', '#f6dcf9', '#fbeefc']

    var thirdColors = ['#806dee', '#371adb', '#2913a4', '#170b5b']

    for (let i = 0; i < 2; i++) {
        new Chart(
            document.getElementById(chartsId[i]),
            {
                type: chartTypeArr[i],
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: firstColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        onclick: function(e, legendItem, legend) {
                            const index = legendItem.datasetIndex;
                            const ci = legend.chart;
                            if (ci.isDatasetVisible(index)) {
                                ci.hide(index);
                                legendItem.hidden = true;
                            } else {
                                ci.show(index);
                                legendItem.hidden = false;
                            }
                        }
                    },
                    responsive: true,
                    title: {
                        display: true,
                        text: titles[0],
                    },
                    onResize: function(myChart, size) {
                        myChart.options.legend.display = (size.width >= 650);
                    }
                }
            });
        new Chart(
            document.getElementById(secondChartsId[i]),
            {
                type: chartTypeArr[i],
                data: {
                    labels: xValuesSecond,
                    datasets: [{
                        backgroundColor: secondColors,
                        data: yValuesSecond
                    }]
                },
                options: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        onclick: function(e, legendItem, legend) {
                            const index = legendItem.datasetIndex;
                            const ci = legend.chart;
                            if (ci.isDatasetVisible(index)) {
                                ci.hide(index);
                                legendItem.hidden = true;
                            } else {
                                ci.show(index);
                                legendItem.hidden = false;
                            }
                        }
                    },
                    responsive: true,
                    title: {
                        display: true,
                        text: titles[1],
                    },
                    onResize: function(myChart, size) {
                        myChart.options.legend.display = (size.width >= 650);
                    }
                }
            });
        new Chart(
            document.getElementById(thirdChartsId[i]),
            {
                type: chartTypeArr[i],
                data: {
                    labels: xValuesThird,
                    datasets: [{
                        backgroundColor: thirdColors,
                        data: yValuesThird
                    }]
                },
                options: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        onclick: function(e, legendItem, legend) {
                            const index = legendItem.datasetIndex;
                            const ci = legend.chart;
                            if (ci.isDatasetVisible(index)) {
                                ci.hide(index);
                                legendItem.hidden = true;
                            } else {
                                ci.show(index);
                                legendItem.hidden = false;
                            }
                        }
                    },
                    responsive: true,
                    title: {
                        display: true,
                        text: titles[2],
                    },
                    onResize: function(myChart, size) {
                        myChart.options.legend.display = (size.width >= 650);
                    }
                }
            });
    }

    new Chart(
        document.getElementById(chartsId[2]),
        {
            type: chartTypeArr[2],
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: firstColors,
                    data: yValues
                }]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,

                        }
                    }]
                },
                legend: { display: false },
                title: {
                    display: true,
                    text: titles[0]
                }
            }
        });

    new Chart(
        document.getElementById(secondChartsId[2]),
        {
            type: chartTypeArr[2],
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: secondColors,
                    data: yValuesSecond
                }]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,

                        }
                    }]
                },
                legend: { display: false },
                title: {
                    display: true,
                    text: titles[1]
                }
            }
        });
    new Chart(
        document.getElementById(thirdChartsId[2]),
        {
            type: chartTypeArr[2],
            data: {
                labels: xValuesThird,
                datasets: [{
                    backgroundColor: thirdColors,
                    data: yValuesThird
                }]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,

                        }
                    }]
                },
                legend: { display: false },
                title: {
                    display: true,
                    text: titles[2]
                }
            }
        });
</script>
